.textbox
{
	width: 680px;
	padding: 5px;
}

.askButton
{
	width: 100px;
	background-color: #3b4b54;
	color: #ffffff;
	font-weight: bold;
	border-radius: 0;
	display: inline-block;
	border: none;
	outline: none;
	padding: 7px;
}

.askButton:hover
{
	background-color: #00b2EF;
	color: #ffffff;
}